<h1>新規投稿</h1>

  <%= form_for(@post) do |f| %>

    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
        <div class = "form_error">
          <%= message %>
        </div>
        <% end %>

        <p>タイトル</p>
        <textarea name="title"></textarea>
        <p>カテゴリー</p>
        <textarea name="category"></textarea>
        <p>本文</p>
        <textarea name="content" rows="4" cols="40"></textarea>
        <br>
        <%= f.submit %>

      </div>
    </div>
  <% end %>
