// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-logo{
  font-family: "ヒラギノ角ゴ Pro W3","sans-serif";
  font-size: 40px;
  color: #DC143C;
}

.header-sub{
  font-family: "ヒラギノ角ゴ Pro W3","sans-serif";
  font-size: 20px;
  color: #DB7093;
  margin-bottom: 80px;
}

body {
  text-align: center;
}

.contents-item{
  padding: 10px;
  color: #A9A9A9;
  display: inline-block;
}

footer {
  border-top: 2px solid #dee7ec;
  text-align: left;
  padding-left: 50px;
}

li {
  list-style: none;
}
