// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: "ヒラギノ角ゴ Pro W3","sans-serif";
  font-size: 40px;
  color: #DC143C;
}

.main {
  display:block;
  margin-left: auto ;
  margin-right: auto ;
}
.content {
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width:700px;
  text-align: left;

}
